double-bridge/Node-RED/Node-RED_Library/UNOQ_getIO.json
[
    {
        "id": "44577b545fbaab92",
        "type": "subflow",
        "name": "UNOQ getIO",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 80,
                "wires": [
                    {
                        "id": "dd9e7840d6d26e82"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 820,
                "y": 80,
                "wires": [
                    {
                        "id": "ae6385e303536f8c",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "PIN_NAME",
                "type": "str",
                "value": "",
                "ui": {
                    "icon": "font-awesome/fa-arrow-left",
                    "type": "input",
                    "opts": {
                        "types": [
                            "str"
                        ]
                    }
                }
            }
        ],
        "meta": {},
        "color": "#3FADB5",
        "icon": "node-red/arduino.svg"
    },
    {
        "id": "27e4cf3b581f5342",
        "type": "json",
        "z": "44577b545fbaab92",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 550,
        "y": 80,
        "wires": [
            [
                "ae6385e303536f8c"
            ]
        ]
    },
    {
        "id": "dd9e7840d6d26e82",
        "type": "function",
        "z": "44577b545fbaab92",
        "name": "MsgPack",
        "func": "// Expected input:\n// - No specific msg.payload required\n// - env.PIN_NAME -> string (e.g. \"D13\"), defined as Subflow Environment Variable\n\nconst pin = env.get(\"PIN_NAME\");\n\nif (typeof pin !== \"string\" || pin.length === 0) {\n    node.error(\"Subflow environment variable PIN_NAME must be a non-empty string\", msg);\n    return null;\n}\n\n// Build command object for Python TCP server\nconst cmd = {\n    cmd: \"get_io\",\n    pin: pin\n};\n\n// Serialize JSON + newline (required by the TCP server)\nmsg.payload = JSON.stringify(cmd) + \"\\n\";\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 180,
        "y": 80,
        "wires": [
            [
                "d3c9012522e37a8a"
            ]
        ]
    },
    {
        "id": "d3c9012522e37a8a",
        "type": "tcp request",
        "z": "44577b545fbaab92",
        "name": "UNO Q TCP Server",
        "server": "127.0.0.1",
        "port": "6000",
        "out": "time",
        "ret": "string",
        "splitc": "1",
        "newline": "",
        "trim": false,
        "tls": "",
        "x": 370,
        "y": 80,
        "wires": [
            [
                "27e4cf3b581f5342"
            ]
        ]
    },
    {
        "id": "ae6385e303536f8c",
        "type": "change",
        "z": "44577b545fbaab92",
        "name": "Convert",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.value",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 80,
        "wires": [
            []
        ]
    }
]